<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/camera/depth/points"/>
        <remap from="scan" to="/zed_camera/scan"/>
        <rosparam file="$(find provide_map)/params/pointcloud_to_laserscan_params.yaml"/>
    </node>
</launch>